In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1858,tt0120913,75000000,36754634,Titan A.E.,Matt Damon|Bill Pullman|Drew Barrymore|John Le...,Don Bluth|Gary Goldman,"When Earth Ends, The Adventure Begins.",A young man finds out that he holds the key to...,94,Animation|Action|Science Fiction|Family|Adventure,Twentieth Century Fox Film Corporation|David K...,6/16/2000,6.1,2000
434,tt1458175,30000000,51148651,The Next Three Days,Russell Crowe|Elizabeth Banks|Brian Dennehy|RZ...,Paul Haggis,What if you had 72 hours to save everything yo...,A married couple's life is turned upside down ...,133,Romance|Drama|Thriller|Crime,Lionsgate|FidÃ©litÃ© Films|Hwy61,11/18/2010,6.8,2010
388,tt0473075,150000000,335154643,Prince of Persia: The Sands of Time,Jake Gyllenhaal|Gemma Arterton|Ben Kingsley|Al...,Mike Newell,Defy the Future,A rogue prince (Jake Gyllenhaal) reluctantly j...,116,Adventure|Fantasy|Action|Romance,Walt Disney Pictures|Jerry Bruckheimer Films,5/19/2010,6.1,2010
988,tt1772341,165000000,471222889,Wreck-It Ralph,John C. Reilly|Sarah Silverman|Jane Lynch|Jack...,Rich Moore,The story of a regular guy just looking for a ...,"Wreck-It Ralph is the 9-foot-tall, 643-pound v...",108,Family|Animation|Comedy|Adventure,Walt Disney Animation Studios,11/1/2012,7.0,2012
800,tt1268799,19000000,35387212,A Very Harold & Kumar Christmas,Neil Patrick Harris|John Cho|Elias Koteas|Dann...,Todd Strauss-Schulson,Christmas comes prematurely.,"Six years have elapsed since Guantanamo Bay, l...",108,Comedy,New Line Cinema|Mandate Pictures,11/4/2011,6.0,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
new_data = data
new_data["profit"] = new_data["revenue"] - new_data["budget"]
new_data['month']=[pd.to_datetime(x, format="%m/%d/%Y").month for x in new_data['release_date']]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = ''
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
key1 = data[data["budget"]==max(data["budget"])]["original_title"].keys()[0]
answers['1'] = data['original_title'][key1]
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
key1 = data[data["runtime"]==max(data["runtime"])]["original_title"].keys()[0]
answers['2'] = data['original_title'][key1]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
key1 = data[data["runtime"]==min(data["runtime"])]["original_title"].keys()[0]
answers['3'] = data['original_title'][key1]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = round(data["runtime"].mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = round(data["runtime"].median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
key1 = new_data[new_data["profit"]==max(new_data["profit"])]["original_title"].keys()[0]
answers['6'] = new_data['original_title'][key1]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
key1 = new_data[new_data["profit"]==new_data["profit"].min()]["original_title"].keys()[0]
answers['7'] = new_data['original_title'][key1]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = new_data[new_data["profit"]>0]["original_title"].count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
key1 = data[data["profit"]==data[(data["release_year"]==2008)]["profit"].max()]["original_title"].keys()[0]
answers['9'] = data['original_title'][key1]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
key1 = new_data[new_data["profit"]==\
             new_data[(new_data["release_year"]>=2012) & (new_data["release_year"]<=2014)]["profit"].min()]\
                ["original_title"].keys()[0]
answers['10'] = new_data['original_title'][key1]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = {}
for genre in data['genres']:
    for gr in genre.split('|'):
        if gr in genres: genres[gr] += 1
        else: genres[gr]=1
        
answers['11'] = [k for k, v in genres.items() if v == max(genres.values())][0]
answers['11']

'Drama'

ВАРИАНТ 2

In [19]:
Counter([gr for strr in data['genres'] for gr in strr.split('|')]).most_common(1)[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
genres_pos_profit = {}
for genre in data[(data['profit'] > 0)]['genres']:
    for gr in genre.split('|'):
        if gr in genres_pos_profit: genres_pos_profit[gr] += 1
        else: genres_pos_profit[gr]=1

answers['12'] = [k for k, v in genres_pos_profit.items() if v == max(genres_pos_profit.values())][0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
answers['13'] = data[['director','revenue']].groupby(['director'])['revenue'].sum().sort_values(ascending=False)\
                    .head(1).keys()[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
def split_genres(str1):
    genres = {}
    for genre in str1:
        for gr in genre.split('|'):
            if gr in genres: genres[gr] += 1
            else: genres[gr]=1
    return genres

directors={}
for drc in data['director']:
    directors[drc] = split_genres(data[data['director']==drc]['genres'])

action={}
for dr in directors:
    for gr in directors[dr]:
        if gr=='Action': action[dr]=directors[dr][gr]

sorted(action, key=lambda x: action.get(x), reverse=True)[:5]

['Michael Bay',
 'Paul W.S. Anderson',
 'Ridley Scott',
 'Antoine Fuqua',
 'Robert Rodriguez']

In [23]:
data[data.genres.str.find('Action')!=-1]['director'].value_counts().head(5)

Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Robert Rodriguez      6
Antoine Fuqua         6
Name: director, dtype: int64

In [24]:
answers['14'] = Counter([x for x in data[data['genres'].str.find('Action')!=-1]['director']]).most_common(1)[0][0]
answers['14']

'Michael Bay'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [25]:
act_list = ['Nicolas Cage', 'Tom Hardy', 'Chris Hemsworth', 'Jim Sturgess', 'Emma Stone']
act_max_rev = [x for x in data[data['revenue']==data[(data['release_year']==2012)]['revenue'].max()]['cast'].str.split('|')]
for lin in act_max_rev:
    for act in lin:
        if act in act_list: answers[15] = act
answers[15]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [26]:
answers['16'] = \
    Counter([x for strs in data[data['budget']>data['budget'].mean()]['cast'].str.split('|') for x in strs])\
        .most_common(5)[0][0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [27]:
answers['17'] = \
    Counter([x for strr in data[data['cast'].str.find('Nicolas Cage')!=-1]['genres'].str.split('|') for x in strr])\
        .most_common(3)[0][0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
param = new_data.loc[new_data['production_companies'].str.find('Paramount Pictures')!=-1]
key1 = param[param['profit']==param['profit'].min()]['original_title'].keys()[0]
answers['18'] = new_data['original_title'][key1]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1).keys()[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
answers['20'] = data[data['production_companies'].str.find('Warner Bros')!=-1].\
    groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1).keys()[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
answers['21'] = Counter(new_data['month']).most_common(1)[0][0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [32]:
answers['22'] = new_data[(new_data['month'] >= 6) & (new_data['month'] <= 8)]['imdb_id'].count()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
answers['23'] = \
    data[(data['month'] == 12) | (data['month'] <= 2)].groupby(['director'])['imdb_id']\
        .count().sort_values(ascending=False).head(1).keys()[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
new_df = \
    data[data['original_title'].str.len()==data['original_title'].str.len().max()]['production_companies'].str.split('|')
answers['24'] = new_df[new_df.keys()[0]]
answers['24']

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
new_data=data
new_data['overview_len']=new_data['overview'].str.split().str.len()
len_overview_comp={}
for strr in new_data['production_companies']:
    for conpany in strr.split('|'):
        len_overview_comp[conpany]=1

for cmp in len_overview_comp:
    len_overview_comp[cmp] = new_data[new_data['production_companies'].str.find(cmp)>=0]['overview_len'].mean()

In [36]:
answers['25'] = sorted(len_overview_comp.items(), key=lambda x:x[1])[-1][0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
rows = [['Inside Out', 'The Dark Knight', '12 Years a Slave']
        ,['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
        ,['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']
       ,['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
       ,['Upside Down', 'Inside Out', 'Iron Man']]
new_df = data.sort_values(['vote_average'], ascending=False).head(int(len(data)/100))
for rw in rows:
    cnt=0
    for flm in rw:
        for lin in new_df['original_title'].keys():
            #print(flm, new_df['original_title'][lin])
            if flm == new_df['original_title'][lin]: cnt+=1
    if len(rw) == cnt: answers[26]=rw
answers[26]

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
#data[(data['cast'].str.find('Johnny Depp')!=-1) & (data['cast'].str.find('Helena Bonham Carter')!=-1)]['imdb_id'].count()
#data[(data['cast'].str.find('Ben Stiller')!=-1) & (data['cast'].str.find('Owen Wilson')!=-1)]['imdb_id'].count()
#data[(data['cast'].str.find('Vin Diesel')!=-1) & (data['cast'].str.find('Paul Walker')!=-1)]['imdb_id'].count()
#data[(data['cast'].str.find('Adam Sandler')!=-1) & (data['cast'].str.find('Kevin James')!=-1)]['imdb_id'].count()
#data[(data['cast'].str.find('Daniel Radcliffe')!=-1) & (data['cast'].str.find('Rupert Grint')!=-1)]['imdb_id'].count()
pair=[['Johnny Depp','Helena Bonham Carter',0]
      ,['Ben Stiller','Owen Wilson',0]
      ,['Vin Diesel','Paul Walker',0]
      ,['Adam Sandler','Kevin James',0]
      ,['Daniel Radcliffe','Rupert Grint',0]]
for x in pair: x[2]=data[(data['cast'].str.find(x[0])!=-1) & (data['cast'].str.find(x[1])!=-1)]['imdb_id'].count()
prev = 0
for x in pair:
    if x[2] > prev: 
        prev = x[2]
        answers[27] = [x[0],x[1]]
answers[27]

['Daniel Radcliffe', 'Rupert Grint']

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Michael Bay',
 15: 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': ['Twentieth Century Fox Film Corporation', 'Four By Two Productions'],
 '25': 'Midnight Picture Show',
 26: ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 27: ['Daniel Radcliffe', 'Rupert Grint']}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27